<!DOCTYPE html>
<html>
 {% include head.html %}
 <body id="body">
  {% include nav.html %}
  {% include menu.html %}
  {% for post in site.posts %}
  {% assign value=forloop.index | modulo:2 %}
  {% if value == 0 %}

  <div class="contentPreviewLeft">
   <div class="contentBannerContainerLeft">
     {% if post.bannerURLIsAbsolute == true %}
     <img class="contentBanner" src="{{ post.banner }}"/>
     {% else %}
     <img class="contentBanner" src="{{ post.banner | prepend: site.baseurl }}"/>
     {% endif %}
   </div>
   <div class="contentPreviewDataContainerRight">
    <h2 class="contentTitleBlack">{{ post.title }}</h2>
    <p class="contentDescriptionBlack">
     {{ post.description }}
    </p>
    <a class="contentLinkBlack" href="{{ url | prepend: site.baseurl }}">{{ site.viewText }} &#8594;</a>
   </div>
  </div>

   {% else %}

   <div class="contentPreviewRight">
    <div class="contentBannerContainerRight">
     {% if post.bannerURLIsAbsolute == true %}
     <img class="contentBanner" src="{{ post.banner }}"/>
     {% else %}
     <img class="contentBanner" src="{{ post.banner | prepend: site.baseurl }}"/>
     {% endif %}
    </div>
    <div class="contentPreviewDataContainerLeft">
     <h2 class="contentTitleWhite">{{ post.title }}</h2>
     <p class="contentDescriptionWhite">
      {{ post.description }}
     </p>
     <a class="contentLinkWhite" href="{{ post.url | prepend: site.baseurl }}">{{ site.viewText }} &#8594;</a>
    </div>
   </div>

   {% endif %}
   {% endfor %}
  {% include javascript.html %}
 </body>
</html>
