<!DOCTYPE html>
<html>
 {% include head.html %}
 <body id="body">
  {% include nav.html %}
  {% include menu.html %}

  <div class="left">
   {% if page.bannerURLIsAbsolute == true %}
    <img class="banner" src="{{ page.banner }}"/>
   {% else %}
    <img class="banner" src="{{ page.banner | prepend: site.baseurl }}"/>
   {% endif %}
  </div>

  </div class="right">
    <div class="content">
     <h2>{{ page.title }}</h2>
     {{ content }}
   </div>
 </div>
 {% include javascript.html %}
 </body>
</html>
