@import 'variables';

html,body {
  bottom: 0;
  top: 0;
  left: 0;
  box-sizing:border-box;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  margin-top: 0;
  font-family: $stdFont;
}
div.menuRibbon {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: $mainColor;
  position: sticky;
  -webkit-box-shadow:0px 3px 3px $mainColor;
 -moz-box-shadow:0px 3px 3px $mainColor;
 box-shadow:0px 3px 3px $mainColor;
}
div.content {
  text-overflow:clip;
  white-space: wrap;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
  background-color: $mainColor;
}
img.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
div.left {
  width: 100vw;
  height: 50vh;
  background-color: $accentColor;
  margin: 0;
  right: 0;
  left: 0;
}
div.right {
  width: 100vw;
  height: 100vh;
  background-color: $accentColor;
  margin: 0;
  left: 0;
  right: 0;
}
h1 {
  font-size: 30px;
  color: $accentColor;
  display: inline-block;
  padding-left: 20px;
}
h2 {
  padding: 10px;
  font-size: 25px;
  color: $accentColor;
}
p {
  padding: 10px;
  font-size: 15px;
  color: $accentColor;
  font-family: $tertiaryFont;
}
svg {
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}
svg.closeButton {
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}
div.navDrawer{
  bottom: 0;
  top: 0;
  left: 0;
  box-sizing:border-box;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  display: none;
  margin: 0;
  overflow: hidden;
  margin-top: 0;
  background-color: $accentColor;
  font-family: $stdFont;
}
div.navLinks {
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}
a.navLink {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
  font-size: 25px;
  color: $mainColor;
  transition-duration: 0.6s;
}
a.navLink:hover {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $mainColor;
  color: $accentColor;
}

div.contentPreviewLeft {
  width: 100vw;
  height: 33vh;
  margin: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  background-color: $mainColor;
  border: none;
  box-shadow: none;
}
div.contentPreviewRight {
  width: 100vw;
  height: 33vh;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  background-color: $accentColor;
  border: none;
  box-shadow: none;
}
div.contentBannerContainerLeft {
  float: left;
  width: 40vw;
  height: 100%;
}
div.contentBannerContainerRight {
  float: right;
  width: 40vw;
  height: 100%;
}
div.contentPreviewDataContainerRight{
  float: right;
  display: inline-block;
  width: 60vw;
  height: 100%;
}
div.contentPreviewDataContainerLeft{
  float: left;
  display: inline-block;
  width: 60vw;
  height: 100%;
}
img.contentBanner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
h2.contentTitleBlack {
  padding: 10px;
  font-size: 25px;
  color: $accentColor;
  margin-left: 20px;
}
p.contentDescriptionBlack {
  padding: 10px;
  font-size: 15px;
  color: $accentColor;
  margin-left: 20px;
  font-family: $tertiaryFont;
}
a.contentLinkBlack {
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  color: $mainColor;
  background-color: $accentColor;
  border: none;
  font-family: $tertiaryFont;
  text-decoration: none;
  transition-duration: 0.6s;
  margin-left: 32px;
}
a.contentLinkBlack:hover {
  border: 2px solid $accentColor;
  background-color: $mainColor;
  color: $accentColor;
  padding: 12px;
}
h2.contentTitleWhite {
  padding: 10px;
  font-size: 25px;
  color: $mainColor;
  margin-left: 20px;
}
p.contentDescriptionWhite {
  padding: 10px;
  font-size: 15px;
  color: $mainColor;
  margin-left: 20px;
  font-family: $tertiaryFont;
}
a.contentLinkWhite {
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  color: $accentColor;
  background-color: $mainColor;
  border: none;
  font-family: $tertiaryFont;
  text-decoration: none;
  transition-duration: 0.6s;
  margin-left: 32px;
}
a.contentLinkWhite:hover {
  border: 2px solid $mainColor;
  background-color: $accentColor;
  color: $mainColor;
  padding: 12px;
}
code {
  padding: 0;
  margin: 0;
  color: $mainColor;
  font-family: monospace;
  background-color: $accentColor;
  font-size: 18px;
}
h2.footer {
  padding-top: 5%;
  padding-left: 30px;
  font-size: 25px;
  color: $mainColor;
}
div.footer {
  margin: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 20vh;
  background-color: $accentColor;
  text-align: left;
}
